# MongoDB connection for beacon2-pi-api (loaded by beacon/connections/mongo/conf.py)
database_host=mongodb
database_port=27017
database_user=root
database_password={{ mongo_password }}
database_name=beacon
database_auth_source=admin
